<h2>{{ 'info.end-user-agreement.head' | translate }}</h2>

<h3>TÉRMINOS DEL ACUERDO</h3>
<p>Estas condiciones de uso son un acuerdo vinculante realizado entre usted, ya sea personalmente o en nombre de una entidad y la Universidad del Desarrollo, en relación con el acceso y uso de este sitio. Usted acepta que, al acceder al Sitio, ha leído, comprendido y aceptado estas Condiciones de Uso.</p>
<p>La información proporcionada en el sitio web no está destinada a ser distribuida o utilizada en ninguna jurisdicción o país donde dicha distribución o uso sea contrario a la ley o a la normativa. En consecuencia, las personas que decidan acceder al Sitio desde otros lugares lo hacen por iniciativa propia y son las únicas responsables del cumplimiento de las leyes locales, en la medida en que éstas sean aplicables.</p>

<h3>DERECHOS DE PROPIEDAD INTELECTUAL</h3>
<p>Las obras están disponibles en el Repositorio Institucional de la Universidad del Desarrollo, de acuerdo a la normativa legal y a la voluntad de los autores. Los autores conservan sus derechos morales y establecen el derecho de uso que tendrán sus obras.</p>
<p>Tanto el diseño del portal y sus códigos fuente, como los logos, marcas, y demás signos distintivos que aparecen en el mismo, pertenecen a la Universidad del Desarrollo y están protegidos por los correspondientes derechos de propiedad intelectual e industrial. </p>
<p>Se autoriza la reproducción total o parcial de los textos proporcionados por el portal, siempre que se mantenga su integridad y que se cite expresamente al Repositorio como fuente de la información.</p>
<p>La Universidad del Desarrollo declara su respeto a los derechos de propiedad intelectual e industrial de terceros; por ello, si considera que este portal pudiera estar violando sus derechos, rogamos se ponga en contacto con la Biblioteca de la Universidad del Desarrollo.</p>

<h3>DECLARACIONES DEL USUARIO</h3>
<p>Al utilizar el Sitio, usted declara y garantiza que (1) toda la información de registro que envíe será verdadera; (2) mantendrá la exactitud de dicha información y actualizará puntualmente dicha información de registro según sea necesario; (3) tiene la capacidad legal y se compromete a cumplir con estos Términos de Uso; (4) no utilizará el Sitio para ningún propósito ilegal o no autorizado; y (5) su uso del Sitio no violará ninguna ley o regulación aplicable.</p>
<p>Si proporciona cualquier información que sea falsa o imprecisa, tenemos el derecho de suspender o cancelar su cuenta y rechazar cualquier uso actual o futuro del Sitio (o cualquier parte del mismo).</p>

<h3>REGISTRO DE USUARIOS</h3>
<p>Al registrarse en el Sitio, usted se compromete a mantener la confidencialidad de su contraseña y será el único responsable de los usos que se hagan de su cuenta y contraseña. Nos reservamos el derecho de eliminar, reclamar o cambiar un nombre de usuario que usted seleccione, si determinamos que dicho nombre de usuario es inapropiado, o de cualquier otra forma objetable.</p>

<h3>CONTRIBUCIONES GENERADAS POR EL USUARIO</h3>
<p>Usted puede sugerir la difusión de un documento a través del sitio web. Estas contribuciones pueden ser vistas por otros usuarios del Sitio y a través de sitios web de terceros. Cuando usted sugiere la publicación de un documento en el portal, declara y garantiza que:</p>
<ul>
  <li>La comunicación pública, así como el acceso, la descarga o la copia de esos documentos no infringen ni infringirán los derechos de propiedad, incluidos, entre otros, los derechos de autor, patentes, marcas comerciales, secretos comerciales o derechos morales de terceros.</li>
  <li>En caso de que usted haya creado el documento, autoriza a la Universidad, al Sitio y a otros usuarios del Sitio a utilizar dicho documento de cualquier manera contemplada en el Sitio y en estas Condiciones de Uso.</li>
  <li>Los documentos no son falsos, inexactos o engañosos.</li>
  <li>Los documentos no son publicidad no solicitada o no autorizada.</li>
  <li>Los documentos no se utilizan para acosar o amenazar (en el sentido legal de esos términos) a ninguna otra persona, ni crean, ni se utilizan para promover la violencia contra una persona o clase de personas específicas.</li>
  <li>Los documentos no infringen ninguna ley, reglamento o norma aplicable.</li>
  <li>Los documentos no violan los derechos de privacidad o publicidad de ningún tercero.</li>
</ul>
<p>Cualquier uso del Sitio que infrinja lo anterior viola estas Condiciones de Uso y puede dar lugar, a la terminación o suspensión de sus derechos de uso del Sitio.</p>

<h3>GESTIÓN DEL SITIO</h3>
<p>La Universidad del Desarrollo se reserva el derecho de (1) supervisar el Sitio para detectar infracciones de estas Condiciones de Uso; (2) tomar las medidas legales oportunas contra cualquier persona que infrinja la ley o estas Condiciones de Uso; (3) rechazar, restringir el acceso, limitar la disponibilidad o eliminar cualquiera de los documentos que hayan sido publicados en el portal; (4) y eliminar del Sitio o deshabilitar de otro modo todos los archivos y contenidos que tengan un tamaño excesivo o sean de algún modo una carga para nuestros sistemas.</p>
